---
import Layout from '../layouts/Layout.astro'
import '../styles/global.css'
---

<Layout title="About">
  <main>
    <div class="md-container">
      <h1>About me</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis voluptatem dolor
        libero beatae porro voluptatum quod reiciendis alias praesentium voluptas aliquid, maiores
        magni magnam quae molestiae nesciunt ex dolorum? Commodi? Eos inventore quae et dolore.
        Possimus doloribus tempore reiciendis! Consequatur ducimus ut dolores cum alias. Pariatur
        nobis a blanditiis quis minus quam sequi! Quisquam porro omnis commodi et doloremque
        sapiente! Ex maxime, voluptatibus exercitationem error recusandae voluptatem nesciunt minima
        quia obcaecati nobis asperiores nihil, veritatis est, non hic laboriosam nisi consequuntur
        repellat. Minus nam adipisci praesentium nostrum id repudiandae pariatur! Tenetur qui quas
        quaerat voluptate quos veritatis, quisquam amet eum eaque perferendis reprehenderit error
        fugit, debitis sit, saepe rerum! Rerum perspiciatis sed quidem. Rerum fugit quidem aperiam
        exercitationem corporis fugiat! Eligendi ipsa fugiat nesciunt molestias at? Quae vitae
        voluptatibus repudiandae est quos harum odit quis corporis laudantium ad perspiciatis minima
        tempore provident nobis, facere, accusantium rem molestiae aperiam saepe dicta. Cumque
        repellat quo veritatis similique deleniti placeat laborum a velit tenetur modi autem vel
        ratione explicabo fugit nesciunt iste, recusandae aliquam esse exercitationem fugiat rerum!
        Quasi pariatur nisi culpa deleniti? Ab est quaerat ex, iusto dolorem delectus velit facilis,
        laborum voluptatem atque sapiente dignissimos rerum. Fugit provident consequuntur quos
        facere, laboriosam possimus dolores ea veniam. Repellendus sed sapiente libero veritatis?
        Perferendis fugiat est eius doloribus, nihil dolore saepe iure iste impedit omnis, ullam
        repellendus eaque asperiores? Error praesentium tempora voluptas quam. Cupiditate earum quia
        dignissimos harum qui inventore nisi? Sapiente. Maiores, cum molestiae? Quos id sed, vero
        amet inventore voluptatem unde optio quod repudiandae facilis consequatur nostrum laboriosam
        beatae excepturi architecto perferendis, mollitia provident. Blanditiis eligendi at
        architecto iste aperiam. Ratione, cum. Culpa nihil excepturi omnis eaque. Repudiandae
        pariatur aut perferendis doloremque nesciunt eaque architecto, eos nam rem vel eum illo
        voluptatibus reiciendis nulla velit adipisci totam maiores molestiae provident.
      </p>
    </div>
  </main>
</Layout>

<style>
  p {
    text-align: justify;
    text-justify: distribute-all-lines;
    padding: 1rem;
  }
</style>
